* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.container {
    display: flex;
    flex-direction: column;
    max-width: 22rem;
    align-items: center;
    border-radius: 1rem;
}
.first {
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
figure {
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.second {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1d1160;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: clamp(0.25rem, -0.25rem + 8vw, 1rem);
    gap: 1rem;
}
.rating {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}
h1 {
    font-size: clamp(0.5rem, -0.1rem + 9.6vw, 2rem);
}
p {
    font-size: clamp(0.25rem, -0.125rem + 6vw, 1rem);
}
h2 {
    font-size: clamp(0.25rem, -0.375rem + 10vw, 1.5rem);
}
h5 {
    font-size: clamp(0.25rem, -0.125rem + 6vw, 1rem);
}
h1,h2,h5,p {
    color: white;
}
span {
    color: purple;
}

@media only screen and (min-width:37.5rem) {
    .container {
        flex-direction: row-reverse;
        max-width: 58rem;
        max-height: 25rem;
        height: 100%;

    }
    .first {
        width: 50%;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    img {
        border-top-left-radius: 0;
        border-bottom-right-radius: 1rem;
    }
    .second {
        width: 50%;
        height: 100%;
        text-align: left;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1rem;
    }
    .rating {
        flex-direction: row;
        text-align: left;
        width: 100%;
        justify-content: flex-start;
        gap: 3rem;
    }
}